*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(100deg,rgb(226, 212, 14),rgb(226, 32, 19));
    color: white;
    font-family: Helvetica, Arial, sans-serif;
}


/*############## Input Section Style ##############*/
#wrapper{
    text-align: center;
    background-color: rgb(2, 2, 73);
    border-radius: 55px;
    width: 55%;
    margin-left: 25%;
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 45px;
}
#todoInput{
    width: 75%; /* 75% Of the #wrapper width */
    height: 180px;
    margin-top: 60px;
    margin-left: 15%;
}
#wrapper h1{
    margin-top: 40px;
    margin-bottom: 25px;
   
}
#task{
    width: 60%;
    height: 55px;
    padding: 5px 5px 0px 5px;
}

/*############## Add Task Button Style ##############*/
#add{
    background-color: rgb(25, 65, 7);
    border: 0px;
    color: white;
    padding: 19px 15px;
    padding-right: 30px;
    cursor: pointer;
    margin-top: 19px;
    font-size: 14px;
    font-weight: bold;
    transition: all 0.3s ease;
}
#add:hover{
    background-color: rgb(250, 206, 9);
    color: rgb(10, 12, 9);
}

/*############## Todo List Item Style ##############*/
.todo-container{
    display: flex;
    justify-content: center;
    text-align: start;
}
#todoList{
    list-style: none;
    line-height: 35px;
    min-width: 90%;
    /* margin-top: 50px; */
    padding-right: 10px;
}
.todo{
    background-color: rgb(0, 92, 179);
    color: rgb(243, 243, 243);
    font-size: 17px;
    padding-left: 10px;
    margin-bottom: 15px;
}
.todo i{
    font-size: 25px;
    /* pointer-events: none; */
}

/*############## Remove & Complete Button Style ##############*/
#button{
    border: 0px;
    width: 35px;
    height: 35px;
    pointer-events: painted;
}
.remove{
    background-color: rgb(248, 11, 11);
    float: right;  
}
.complete{
    background-color: rgb(33, 201, 41);
    float: right;
}
.completed{
    text-decoration: line-through;
    opacity: 0.3;
}

/*################ Select Filter Button Css ###############*/
.select{
    margin-top: -45px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}
select{
    margin-top: 10px;
    color: coral;
    cursor: pointer;
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
}

/*################ Responsive Css ###############*/
@media  (max-width: 960px) and (min-width: 300px) {
    #task{
        width: 100%;
        height: 45px;
        padding: 5px;
    }

    #add{
        background-color: rgb(25, 65, 7);
        border: 0px;
        color: white;
        padding: 10px 15px 10px 15px;
        cursor: pointer;
        margin-top: 15px;
        font-size: 14px;
        font-weight: bold;
        transition: all 0.3s ease;
    }

    .select{
        margin-top: -5px;
        margin-bottom: 10px;
        position: relative;
        overflow: hidden;
    }
    
    select{
        color: coral;
        cursor: pointer;
        font-size: 15px;
        margin-top: 0px;
        margin-left: 18px;
        font-weight: bold;
    }
}